__pycache__

jobs/

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

*.aux
*.log

venv/
.venv/
**/.DS_Store

presentations/pycon-presentation/cpu-gpu-sync.html
presentations/pycon-presentation/cpu-gpu-sync_files/